<!-- Explain this code -->
<!doctype html>
<title>Guestbook</title>

<h1>Welcome to the epic Guestbook!</h1>

<p>Previous entries</p>
<div id ="entries">
  
  {% for entry in entries %}
    <p>{{ entry }}</p>
  {% endfor %}

</div>
<form method="post" action="/add">
  <input type="text" placeholder="write a message..." name="entryText" />
  <button type="submit">Add Guestbook Entry</button>
</form>

<script>
  const entries = document.getElementById("entries");

  function update(){

    for(const child of entries.children){
      entries.innerHTML = '';
    }
    (async () => {
      const response = await fetch("entries").then(x=>x.json()).catch(_=>null);
      if(response){
        for(const entry of response){
          const element = document.createElement("p")
          element.innerHTML = entry;
          entries.appendChild(element);
        }
      }
    })();
  }

  setInterval(uopdate,5000);
  update();
</script>